.scrollUpBtn {
  background-color: var(--color-icon-main);
  width: 3rem;
  height: 3rem;
  padding: 0;
  color: var(--color-bg-main);
  border: 0;
  border-radius: 6px;
  outline: none;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  cursor: pointer;
  transition: var(--trans-main);
}
.scrollUpBtn:hover {
  opacity: 0.5;
}
